node_modules
.npm

# Артефакты сборки Next.js
.next
out

# VCS
.git
.gitignore

# Логи и прочий мусор
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Сам Dockerfile и прочее
Dockerfile
docker-compose.yml