.marqueeWrapper {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  mask-image: linear-gradient(to right, black 0%, black 85%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, black 0%, black 85%, transparent 100%);
}

.marqueeContent {
  display: inline-block;
  padding-right: 50px;
}

@keyframes scrollText {
  0% { transform: translateX(0); }
  20% { transform: translateX(0); } /* Пауза в начале */
  100% { transform: translateX(-100%); }
}

.marqueeContent.scrolling {
  animation: scrollText 8s linear infinite;
}
