.sidebar {
  width: var(--sidebar-width);
  background-color: var(--sidebar-bg);
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 24px;
  flex-shrink: 0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo span {
  color: var(--accent-color);
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 10px 16px;
  border-radius: 8px;
  color: var(--text-secondary);
  font-weight: 600;
  transition: 0.2s;
}

.link:hover {
  color: var(--text-primary);
  background-color: rgba(255, 255, 255, 0.1);
}

.active {
  color: var(--text-primary);
  background-color: rgba(255, 255, 255, 0.1);
}

.profile {
  margin-top: auto; /* Прижать к низу */
  padding-top: 20px;
  border-top: 1px solid #333;
}